    <!DOCTYPE html>
    <html>
    <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"
     <title>Stages</title>
    </head>
    <body>
        <h1>Liste des Stages</h1>
        <table>
            <tr>
             <th>Titre Stage </th>
             <th>Type Stage</th>
             <th>Encadrant</th>
             <th>Organisme</th>
             <th>Jury</th>
            </tr>
           {%for item in Stage%}
            <tr>
             <td>{{item.titreStage}}{{item.typeStage}}{{item.enseignant.nomE}}{{item.organisme.nomOrganisme}}{{item.jury.codeJ}}</td>
            <!-- <td>{{item.Enseignant.nomE}}{{item.Enseignant.prenomE}}{{item.Enseignant.grade}}{{item.Enseignant.codeJ}}</td>-->
            </tr>
            {% endfor %}
           </table>
    </body>
    </html>
    
    
    