<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0"
 <title> Organismes</title>
</head>
<body>
    <h1>Liste d'Organismes</h1>
    <table>
        <tr>
         <th>Nom Organisme</th>
         <th>Adresse</th>
         <th>Email</th>
        </tr>
       {%for item in OrganismeStage%}
        <tr>
         <td>{{item.nomOrganisme}}{{item.adresse}}{{item.email}}</td>
        </tr>
        {% endfor %}
       </table>
</body>
</html>


